html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; } }
input[type="submit"], input[type="reset"], input[type="button"], input {
  -webkit-appearance: none;
  resize: none; }

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

img {
  max-width: 100%;
  height: auto;
  width: auto \9;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic; }

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none; }

body {
  height: 100%;
  font: 12px Microsoft YaHei, Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7; }

em, i {
  font-style: normal; }

strong {
  font-weight: normal; }

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both; }

.clearfix {
  zoom: 1; }

a {
  text-decoration: none;
  color: #969696;
  font-family: Microsoft YaHei, Tahoma, Arial, sans-serif; }

a:hover {
  color: #FED503;
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: Microsoft YaHei; }

.item {
  height: 1000px;
  background: gold; }

.touchBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  background: indianred; }
  .touchBox p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px; }
    .touchBox p:nth-child(1) {
      background: blanchedalmond; }
