<!--权益介绍 start-->
<section id="vip-page" class="vip-wrap vip-page">
    <div class="equity">
        <div class="details page-item">
            <h2><i class="arrow"></i>权益名称</h2>
            <p>{{list.data.levelProfitName}}</p>
        </div>
        <div class="details page-item">
            <h2><i class="ask"></i>权益介绍</h2>
            {{{list.data.levelProfitDescription}}}
        </div>
    </div>
    <!--    <template v-if="list.isSuccess==true">
            <div class="equity">
                <div class="details page-item">
                    <h2><i class="arrow"></i>权益名称</h2>
                    <p>{{list.data.levelProfitName}}</p>
                </div>
                <div class="details page-item">
                    <h2><i class="ask"></i>权益介绍</h2>
                    {{{list.data.levelProfitDescription}}}
                </div>
            </div>
        </template>
        <template v-if="list.isSuccess==false">
            <table class="tableA">
                <tbody>
                <tr class="noData">
                    <td colspan="3">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </template>-->
</section>
<!--权益介绍 end-->