<!--详情-->
<section class="details">
    <ul class="column cc">
        <li class="on">产品说明</li>
        <li>项目清单</li>
        <li>加入记录</li>
    </ul>
    <section class="items">
        <!--产品说明 start-->
        <section class="product" style="display: none;" >
            <div class="element compd commt">
                <h2>计划要素</h2>
                <div class="mtb65 pdlr">
                    <table>
                        <tr>
                            <td>名称</td>
                            <td>优品月计划001</td>
                        </tr>
                        <tr>
                            <td>计划金额</td>
                            <td>886868688.99元</td>
                        </tr>
                        <tr>
                            <td>预期年化</td>
                            <td>6.25%~7.00%</td>
                        </tr>
                        <tr>
                            <td>投资期限</td>
                            <td>30天</td>
                        </tr>
                        <tr>
                            <td>收益方式</td>
                            <td>到期后结算收益</td>
                        </tr>
                        <tr>
                            <td>起息</td>
                            <td>由实际投资项目决定</td>
                        </tr>
                        <tr>
                            <td>到期日</td>
                            <td>2016.05.09</td>
                        </tr>
                        <tr>
                            <td>加入条件</td>
                            <td>1000元起投,100整数倍增</td>
                        </tr>
                        <tr>
                            <td>退出方式</td>
                            <td>债权转让方式退出</td>
                        </tr>
                        <tr>
                            <td>收费标准</td>
                            <td>加入费用0元,退出费用0元</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="brief  compd commt">
                <h2>计划简介</h2>
                <p class="mtb65 pdlr"> “悦悦金”是宝象为帮助投资人更方便省心的投资而推出的自动投资工具。加入悦悦金后，系统将资金自动投资获得用户认可符合要求的优质标的。
                    悦悦金加入期结束后，会进入锁定运行期，在锁定期中用户的投标本息回款用于复利投资，锁定期结束用户可通过债权转让的方式退出或续投悦悦金，满足用户的多样化理财需求。</p>
            </div>
            <div class="flow compd commt">
                <h2>计划原理</h2>
                <div class="mtb65 pdlr">
                    <ul class="flow-one cc">
                        <li>
                            <i></i>
                            <p>加入计划</p>
                        </li>
                        <li>
                            <i></i>
                            <p>资金进入子账户</p>
                        </li>
                    </ul>
                    <ul class="flow-two cc">
                        <li>
                            <i></i>
                            <p>继投或退出</p>
                        </li>
                        <li>
                            <i></i>
                            <p>借款人还款</p>
                        </li>
                        <li>
                            <i></i>
                            <p>系统自动投标</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="problem  compd commt">
                <h2>常见问题</h2>
                <ul class="mtb65 pdlr">
                    <li>1. 投资10000元，加入悦悦金，预期收益是多少？
                        预期收益=10000*预期年化收益率*持有天数/360
                    </li>
                    <li>2. 悦悦金的锁定期限是如何计算的？
                        每一期悦悦金计划发出时预设成立日，成立日次日悦悦金进入锁定期。锁定期内，可转让悦悦金的资金在转让期内可通过债权转让提前退出；不可转让悦悦金的资金不得退出，回款本金和利息将自动复投，直至锁定期结束。
                    </li>
                    <li>3. 加入悦悦金后,可以看到具体投向的借款项目吗？
                        可以，悦悦金成立日起系统将资金分散投向平台的借款项目，一般1-2个工作日内完成。在“我的账户—我的投资”中，点击该笔悦悦金对应的“详情”按钮，可以查询到悦悦金投向列表。
                    </li>
                </ul>
            </div>
        </section>
        <!--产品说明 end-->

        <!--项目清单 start-->
        <div class="project compd commt" style="display: none;">
            <table>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td >
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="ellipsis">助农E站-15293-862助农E站-15293-8621L0助农E站-15293-8621L0助农E站-15293-8621L01L024</p>
                        <p class="year">预期年化(%)<span>9.5</span></p>
                    </td>
                    <td>
                        <p>回款中</p>
                        <p>投资期限(天) <span>100</span></p>
                    </td>
                </tr>
            </table>
        </div>
        <!--项目清单 end-->

        <!--加入记录 start-->
        <div class="record" >
            <div class="top-list compd commt">
                <ul class="cc">
                    <li>
                        <div class="rankingImg">
                            <i></i>
                        </div>
                        <p>欧阳女士</p>
                        <p>75.87万</p>
                    </li>
                    <li class="list-middle">
                        <div class="rankingImg first">
                            <i></i>
                        </div>
                        <p>张女士</p>
                        <p>98.10万</p>
                    </li>
                    <li>
                        <div class="rankingImg">
                            <i></i>
                        </div>
                        <p>张先生</p>
                        <p>60.89万</p>
                    </li>
                </ul>
            </div>
            <p class="invest-liist compd cc"><span class="fl">投资人<strong>(共86人)</strong></span><span class="fr">投资金额(元)</span>
            </p>
            <div class="record-list compd">
                <table>
                    <tbody>
                    <tr>
                        <td width="21%">
                            <i class="headimg"
                               style="background: url('./static/views/youpin/src/testhead.png') no-repeat center;background-size:100% 100%;"></i>
                        </td>
                        <td width="30%">杨女士</td>
                        <td class="list-right">
                            <span class="g333">866.00</span>
                            <p class="g999">2015-7-18 22:35</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="21%">
                            <i class="headimg"
                               style="background: url('./static/views/youpin/src/testhead.png') no-repeat center;background-size:100% 100%;"></i>
                        </td>
                        <td width="30%">杨女士</td>
                        <td class="list-right">
                            <span class="g333">866.00</span>
                            <p class="g999">2015-7-18 22:35</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="21%">
                            <i class="headimg"
                               style="background: url('./static/views/youpin/src/testhead.png') no-repeat center;background-size:100% 100%;"></i>
                        </td>
                        <td width="30%">杨女士</td>
                        <td class="list-right">
                            <span class="g333">866.00</span>
                            <p class="g999">2015-7-18 22:35</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--加入记录 end-->

    </section>
</section>
<!--详情-->