<!--明细-->
<section class="detail">
    <div>
        <table>
            <tr>
                <td>加入日期</td>
                <td>2016.09.16</td>
            </tr>
            <tr>
                <td>加入金额(元)</td>
                <td>26886868.88</td>
            </tr>
            <tr>
                <td>到期日</td>
                <td>2016.10.20</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>投资中(元)</td>
                <td>88686868.85</td>
            </tr>
            <tr>
                <td>已退出(元)</td>
                <td>995868.60</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>收益(元)</td>
                <td>668.88</td>
            </tr>
            <tr>
                <td>持标明细</td>
                <td><span>查看</span></td>
            </tr>
            <tr>
                <td>状态</td>
                <td>持有中</td>
            </tr>
        </table>
    </div>
</section>