<!-- 详情 -->
<section class="youpinG">
    <div class="main youpin youpinpd">
        <section class="detail_title t_c">
            <h3 class="g555">企业经营贷-16271V01</h3>
            <div class="taiping">
                <span>账户资金安全由太平财险承保</span>
            </div>
            <ul>
                <li>
                    <p class="gbcbc">预期年化</p>
                    <p class="red num">7.00%~8.88%</p>
                </li>
                <li>
                    <p class="gbcbc">投资期限</p>
                    <p class="g333 num">1000<span>天</span></p>
                </li>
            </ul>
            <div class="load_line"><span></span></div>
        </section>
        <section class="detail_plain">
            <ul>
                <li class="cc">
                    <span class="fl">1000元起投</span>
                    <span class="fr">可投(元) 81,930.00</span>
                </li>
                <li class="cc">
                    <span class="fl">已加入785人次</span>
                    <span class="fr">到期结算收益</span>
                </li>
            </ul>
        </section>
    </div>
    <div class="youpinMoney">
        <p class="haveMoney youpinpd g999 ">可用金额(元)<span class="g333">4,888,888.88</span></p>
        <div class="importBox cc">
            <span class="fl">金额(元)</span>
            <input class="fl" type="text" placeholder="100起,100倍数增"/>
            <span class="fr">全投</span>
        </div>
        <div class="agreement cc">
            <p class="fl">同意<span>《服务协议》</span></p>
            <p class="fr">预期收益(元)<span class="red">0.00</span></p>
        </div>
        <p class="slide">下滑查看详情<span></span></p>
    </div>
    </div>
    <div class="meet cc" style="display: block;">
        <table>
            <tr>
                <td width="75%">
                    <p>已加入金额(元)</p>
                    <p>8888888.88</p>
                </td>
                <td>
                    已满额
                </td>
            </tr>
        </table>
    </div>
</section>
