<!--象财优品管理-->
<section class="manage">
    <div class="column">
        <ul class="cc">
            <li class="fl on">持有中</li>
            <li class="fr">已退出</li>
        </ul>
    </div>
    <section class="manage-items">
        <!--持有中-->
        <div>
            <ul>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>持有(元)<span>199999.56</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>持有(元)<span>199999.56</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>持有(元)<span>199999.56</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>持有(元)<span>199999.56</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>持有(元)<span>199999.56</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
            </ul>
            <div class="recommend" style="display: none;">
                <p>推荐标</p>
                <div class="recommend-wrap">
                    <p class="title ellipsis">企业经营贷-企业经营贷-周转急急贷款项...<i>再奖0.5%</i></p>
                    <ul class="cc">
                        <li class="fl rate red">12.00% ~ 12.50%</li>
                        <li class="fr time">888<span>天</span></li>
                    </ul>
                    <p class="progress-bar"><i></i></p>
                    <p class="cc remark g999"><span class="fl">100元起投</span><span class="fr">可投181,239.00元</span></p>
                </div>
                <p class="noRecord">您暂时没有加入的记录~！<br/>马上加入尊享省心、稳健、安全的理财投资体验吧</p>
            </div>
        </div>
        <!--持有中-->
        <!--已退出-->
        <div style="display: none;">
            <ul>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>退出日<span>2009.10.03</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>退出日<span>2009.10.03</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>退出日<span>2009.10.03</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
                <li class="cc">
                    <p class="fl">优品月计划154期间优品月计划<br/>退出日<span>2009.10.03</span></p>
                    <p class="fr">收益(元)<span>49.56</span></p>
                </li>
            </ul>
            <table>
                <tbody>
                    <tr class="noData">
                        <td>您暂时没有已退出的记录~！</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--已退出-->
    </section>
</section>