<!--持标明细-->
<section class="markitem">
    <p class="title cc"><span class="fl">标名称</span><span class="fr">收益(元)</span></p>
    <div class="items">
        <table>
            <tr>
                <td width="70%">
                    <p class="name ">助农E站-15293-862助农助农E站-15293-862助农E</p>
                    <p class="invest">投资(元) 5666.66</p>
                </td>
                <td width="30%">
                    <p class="type">回款中</p>
                    <p>
                    <p class="money">15050.00</p></p>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    <p class="name ">助农E站-15293-862助农E</p>
                    <p class="invest">投资(元) 5666.66</p>
                </td>
                <td>
                    <p class="type">回款中</p>
                    <p>
                    <p class="money">15050.00</p></p>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    <p class="name ">助农E站-15293-862助农E</p>
                    <p class="invest">投资(元) 5666.66</p>
                </td>
                <td>
                    <p class="type">回款中</p>
                    <p>
                    <p class="money">15050.00</p></p>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    <p class="name ">助农E站-15293-862助农E</p>
                    <p class="invest">投资(元) 5666.66</p>
                </td>
                <td>
                    <p class="type">回款中</p>
                    <p>
                    <p class="money">15050.00</p></p>
                </td>
            </tr>
        </table>
    </div>
</section>