<!--加入结果-->
<section class="success">
    <div class="cc">
        <span class="pattern fl"></span>
        <span class="fl">恭喜您，加入成功</span>
    </div>
    <table>
        <tr>
            <td width="30%">
                <i class="proper"></i>
            </td>
            <td><p>加入成功 1000.00元</p>
                <p>2016.03.04 22:00</p></td>
        </tr>
        <tr>
            <td><i class="end"></i></td>
            <td>智能分散投资到项目</td>
        </tr>
    </table>
    <a href="javascript:;" class="success-btn">退出</a>
</section>
<!--加入结果-->