*{
    box-sizing: border-box;
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"], input {
-webkit-appearance: none;
resize: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
display: block;
}

/* 图片自适应 */
img {
    display: block;
max-width: 100%;
height: auto;
width: auto \9; /* ie8 */
vertical-align: middle;
border:none;
-ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
margin: 0;
padding: 0;
border: none;
}

body {
font: 12px Microsoft YaHei, Tahoma, Arial, sans-serif;
color: #555;
background-color: #F7F7F7;
}

em, i {
font-style: normal;
}

strong {
font-weight: normal;
}

.clearfix:after {
content: "";
display: block;
visibility: hidden;
height: 0;
clear: both;
}

.clearfix {
zoom: 1;
}

a {
text-decoration: none;
color: #969696;
font-family: Microsoft YaHei, Tahoma, Arial, sans-serif;
}

a:hover {
color: #FED503;
text-decoration: none;
}

ul, ol {
list-style: none;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-family: Microsoft YaHei;
}
html,body{
    height: 100%;
}
.zxb-wrap{
    height: 100%;
}
.turntable-bj{
    width:100%;
    height: 11.94rem;
    padding-top:3.17rem;
    background: url("../images/turntable_bj.png") no-repeat center top;
    background-size:100%;
}
.turntable-wrap{
    width:7.73rem;
    height:7.73rem;
    margin:0 auto;
    background: red;
    border-radius: 50%;
}

.zxb-main{background:#1570da;}
.zxb-window{width:9.226rem;margin:0 auto;}
.zxb-window .window-title{height: 1.12rem;line-height:1.12rem;font-size:.4rem;font-weight:bold;color:#002148;text-align:center;background:url("../images/reward_title.png") no-repeat center;background-size:100%;}