*{
  margin:0;
  padding:0;
}
html,body,.page-wrap,.page-wrap>div{
  height:100%;
}
.page-wrap .page1{
  background:green;
}
.page-wrap .page2{
  background:orange;
}
.page-wrap .page3{
  background:yellow;
}
.page-wrap .page4{
  background:orange;
}
.page-wrap .page5{
  background:orange;
}
.page-wrap .page6{
  background:orange;
}