@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* 幻灯开始*/
#imgshow_mask{width:100%;position:absolute;z-index:1;background:url(../img/imgshow_mask.png) repeat-x 0 0;height:27px;}
#imgshow_mask{_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='img/imgshow_mask.png');}
#imageShow{clear:both;border-bottom:1px solid #fff;height:480px;}
#imageShow .imagebg{height:500px;overflow:hidden;position:relative;}
#imageShow .imagebg li{height:100%;overflow:hidden;position:absolute;top:0;left:0;width:100%;display:block;filter:alpha(opacity=0);opacity:0;}
#imageShow .imagebg li a.bannerbg_main{width:100%;position:absolute;top:0;right:0;height:100%;display:block;}
.scrollbg{height:80px;background:#f4f4f4 url(../img/scroll_bg.png) 0 100% repeat-x;}
.scroll{margin:0 auto;width:960px;height:76px;position:relative;}
.s_pre, .s_next{display:block;width:48px;height:76px;position:absolute;}
a.s_pre{background:url(../img/arrow_l.png);top:4px;left:0;}
a.s_pre:hover{background:url(../img/arrow_l_on.png);}
a.s_next{background:url(../img/arrow_r.png);top:4px;right:0;}
a.s_next:hover{background:url(../img/arrow_r_on.png);}
.outScroll_pic{ height:76px;margin-left:70px;overflow:hidden;position:relative;width:822px;top:2px;}
.outScroll_pic .scroll_pic{position:absolute}
.scroll_pic{margin:0 auto;width:40000px;height:76px;}
.scroll_pic li{position:relative;float:left;float:left;height:65px;width:145px;margin:5px 9px;_margin:5px 14px 5px 4px;cursor:pointer;background:#000;overflow: hidden;}
.scroll_pic li img{filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;width:100%;height:100%;}
.scroll_pic li:hover img,.scroll_pic li:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.scroll_pic li.currently img{filter:alpha(opacity=100)!important;-moz-opacity:1!important;opacity:1!important;}
.scroll .current{width:144px;height:65px;border:2px #ff780d solid;background:url(../img/arrow_on.png) 50% -4px no-repeat;z-index:10;position:absolute;top:5px;left:0;}

/*新增，控制缩略图样式*/
.samllImgTitle{position:absolute;left:0;bottom:0;color:#fff;width: 100%;text-align: center;height:20px;background: rgba(0,0,0,.5);white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
