@charset "utf-8";
/*
 * author: Jack
 * time: 2015-03-16
*/

/* reset styles */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, form, fieldset, legend, button, input, select, textarea, th, td {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
	font: 12px/1.5 Arial, Tahoma;
	color: #464646;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

textarea {
	resize: none;
	overflow-y: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

ol, ul {
	list-style: none;
}

em, strong {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #0b83f6;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #0b83f6;
	text-decoration: underline;
}

.clearfix:after,
.cf:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.clearfix,
.cf {
	*zoom: 1;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mr30 {margin-right: 30px;}
.ml30 {margin-left: 30px;}

/* body styles */
body {font: 12px/1.5 Microsoft YaHei, Arial, Tahoma; color: #464646; background: #fff; min-width: 1000px;}
*html body {background-attachment: scroll;}
html {_background: url(about: blank);}
.wrap,
.container {width: 1000px; margin: 0 auto; *zoom: 1;}
.container {padding-bottom: 50px; background: #fff;}
.wrap:after,
.container:after {clear: both; content: "."; display: block; font-size: 0; height: 0; visibility: hidden;}
.screenBg {background: #fdfbf9;}

/* header banner styles */
.header {height: 65px; background: #fff;}
.header .top {float: left; width: 100%; height: 25px;}
.header .top ul {float: right;}
.header .top li {float: left; height: 25px; line-height: 25px;}
.header .top .line {width: 17px; text-align: center; line-height: 23px;}
.header .top .login,
.header .top .login:hover {color: #666;}

.header .logoNav {float: left; width: 100%; height: 40px;}
.logo {float: left; width: 160px; height: 40px; text-indent: -99em; overflow: hidden; background: url(../_imgs/logo.png) no-repeat 0 0;}
.nav {float: right; display: inline;}
.nav li {float: left; margin-left: 20px;}
.nav li a {float: left; height: 34px; padding: 0 27px; font-family: Microsoft YaHei; font-size: 16px; color: #0667c3; text-align: center; line-height: 34px; border-top: 6px solid #fff;}
.nav li a:hover,
.nav li a.current {color: #0667c3; border-top-color: #008dff; text-decoration: none;}
.nav_en li {margin-left: 10px;}
.nav_en li a {padding: 0 10px;}

.banner {width: 100%; height: 350px; background: url(../_imgs/banner.jpg) no-repeat center center; text-indent: -999em; overflow: hidden;}
.bannerSlide {width: 100%; height: 350px; overflow: hidden; position: relative;}
.bannerSlideImg {width: 100%; height: 350px; background: #f0f0db; position: relative; overflow: hidden;}
.bannerSlideImg div {width: 2000px; height: 350px; position: absolute; left: 50%; top: 0; z-index: 2; margin-left: -1000px;}
.bannerSlideImg div.visible {z-index: 3;}
.bannerSlideImg div a {width: 100%; height: 350px; display: block;}
.bannerSlideImg div img {display: block; margin: 0 auto;}
.bannerSlideTab {height: 12px; position: absolute; left: 50%; bottom: 14px; margin-left: -23px; z-index: 10;}
.bannerSlideTab li {float: left; width: 12px; height: 12px; overflow: hidden; margin-left: 6px; display: inline; cursor: pointer; background: url(../_imgs/banner/a.png) no-repeat 0 0;}
.bannerSlideTab li.current {background: url(../_imgs/banner/b.png) no-repeat 0 0;}

/* footer styles */
.footer {height: 180px; background: #008dff;}
.logo_footer {float: left; width: 144px; height: 144px; margin: 18px 0 0 30px; text-indent: -99em; overflow: hidden; background: url(../_imgs/logo_footer.png) no-repeat 0 0;}
.footer_info {display: inline; float: left; margin: 40px 0 0 40px; color: #fff;}
.footer_info dt {float: left; height: 17px; line-height: 17px; padding-bottom: 15px; font-size: 15px;}
.footer_info dd {float: left; clear: both; height: 25px; line-height: 25px; font-size: 13px;}
.footer_wechat {display: inline; float: right; margin: 41px 30px 0 0;}
.copyright {height: 45px; line-height: 45px; text-align: center; color: #666; background: #fff;}